<% provide(:title, @actor.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @actor.name %>
      </h1>
    </section>
  </aside>
</div>
<ul class="users">
    <%= render @movies %>
</ul>
